{% extends "App/base.html" %}


{% block title %}
Create task
{% endblock %}

{% block content %}
<div class="m-3">
<form class="form-control" action="{% url "create-task" %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
    Task name: {{ form.name }}
    </div>
    <div clasd="form-group">
    Task description: {{ form.description }}
    </div>
    <button class="btn btn-primary btn-sm" type="submit">Create</button>
    <a href="{% url 'all-task' %}"><button class="btn btn-secondary btn-sm" type="button">Cancel</button></a>
</form>
</div>
{% endblock %}
